body{
    background-color: rgb(19, 13, 13);
}


.head-wrapper{
    background-color: rgba(211, 29, 23, 0.849);
    text-align: center;
    font-size: 200%;
    font-style: italic;
    color: rgb(6, 8, 0);
    border: 3px solid;
    font-weight: bolder;
    box-shadow: 20px 30px;

}

.sp{
    border: 5px solid;
    box-shadow: 10px 15px;
    background-color: rgb(56, 167, 201);
}


.container{
    margin: 10px;
    width: 30px;
    height: 20px;
    line-height: 20px;
    text-align: center;
}

.resize{
    position: absolute;
    top: 2%;
    left: 46.5%;
    transform: translateX(-10%) translateY(-10%);
    max-width: 10%;
    max-height: 10%;
    
}


.form{
    display: inline block;
     text-align: center;
    position: relative;
    z-index: 3;
     
     }

     
     .form::before{
        content: "";
        position: absolute;
        top: 0; 
        left: 0;
        width: 100%; 
        height: 100%;  
        opacity: .4; 
        z-index: -3;
        background-image: url(crreg2.jpg);
        
     }


     .name{
        display: inline-flex;
        gap: 20px;
    }
    
    
    label.s{
        font-size: 120%;
        color: rgb(173, 172, 153);
        font-weight:bolder;
        
       
        
    }
    
    
    
    input.a{
        height: 1cm;
        width: 5cm;
        border-color: rgba(236, 45, 32, 0.705);
    }
    
    input.b{
        height: 1cm;
        width: 10cm;
        border-color: rgba(236, 45, 32, 0.705);
    }
    
    input.c{
        background-color: rgba(74, 247, 74, 0.897);
        height: 1.5cm;
        width: 5cm;
        font-size: 130%;
        font-weight: bold;
        
    }